/*
기능 구현 과정에서 가독성을 위해 
임시로 만들어 둔 스타일입니다. 
*/
/* .home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin-bottom: 3rem;
  margin-block-end: 3rem;
} */
