:root {
  --white: #fff;
  --black: #000;
  /* Gray */
  --gray100: #e1e1e1;
  --gray200: #c4c4c4;
  --gray300: #a6a6a6;
  --gray400: #898989;
  --gray500: #6b6b6b;
  --gray600: #565656;
  --gray700: #404040;
  --gray800: #2b2b2b;
  --gray900: #151515;
  --silver: #d3d3d3;
  /* Brand */
  --red-1: #ff153c;
  --red-2: #e93945;
  --dark-bg-1: #191919;
  --dark-bg-2: #212121;
  /* Size */
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;
  --size-9: 36px;
  --size-10: 40px;
  --size-11: 44px;
  --size-12: 48px;
  --size-13: 52px;
  /* Text size */
  --text-size-s: 0.75rem;
  --text-size-m: 1rem;
  --text-size-l: 1.3125rem;
  --text-size-xl: 1.75rem;
  --text-size-2xl: 2.375rem;
  --text-size-3xl: 3.125rem;

  /* MainPage */
  --slider-title-font-size-s: 100%;
  --slider-title-font-size-m: 1.65vw;
  --slider-title-font-size-l: 1.5vw;

  --slider-title-font-weight-s: 500;
  --slider-title-font-weight-m: 700;
  --slider-title-font-weight-l: 800;

  --slide-hover-translate-y: -0.6rem;
  --slide-img-border-radius: 0.3rem;

  --slide-title-font-size-s: 2.8vw;
  --slide-title-font-size-m: 1.6vw;
  --slide-title-font-size-l: 1.2vw;

  --slide-title-font-weight-s: 600;
  --slide-title-font-weight-m: 600;
  --slide-title-font-weight-l: 600;

  --slide-title-font-size-s2: 2.5vw;
  --slide-title-font-size-m2: 1.5vw;
  --slide-title-font-size-l2: 1vw;

  --slide-title-font-weight-s2: 200;
  --slide-title-font-weight-m2: ;
  --slide-title-font-weight-l2: ;

  --slide-title-font-size-s3: 2.8vw;
  --slide-title-font-size-m3: 1.6vw;
  --slide-title-font-size-l3: c1.2vw;

  --slide-title-font-weight-s3: 600;
  --slide-title-font-weight-m3: 600;
  --slide-title-font-weight-l3: 600;
}
