:root {
  --white: #fff;
  --black: #121212;
  /* Gray */
  --gray100: #e1e1e1;
  --gray200: #c4c4c4;
  --gray300: #a6a6a6;
  --gray400: #898989;
  --gray500: #6b6b6b;
  --gray600: #565656;
  --gray700: #404040;
  --gray800: #2b2b2b;
  --gray900: #151515;
  --silver: #d3d3d3;
  /* Brand */
  --red-1: #ff153c;
  --red-2: #e93945;
  --dark-bg-1: #191919;
  --dark-bg-2: #212121;
  /* Size */
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;
  --size-9: 36px;
  --size-10: 40px;
  /* Text size */
  --text-size-s: 0.75rem;
  --text-size-m: 1rem;
  --text-size-l: 1.3125rem;
  --text-size-xl: 1.75rem;
  --text-size-2xl: 2.375rem;
  --text-size-3xl: 3.125rem;
}
