@import './reset.css';
@import './fonts.css';
@import './base.css';

:root {
  /* text */
  --base-font-family: 'Pretendard';
  --base-font-color: var(--gray200);

  /* rounded */
  --round-xs: var(--size-1);

  min-inline-size: 20rem;
  height: 100%;
  background: var(--black);
  font-family: var(--base-font-family), sans-serif;
  color: var(--base-font-color);
}

body {
  height: inherit;
}
