@import './reset.css';
@import './base.css';
:root {
  background: var(--black);
  /* text */
  --base-font-family: 'Pretendard-Regular';
  --base-font-color: var(--gray200);

  /* rounded */
  --round-xs: var(--size-1);

  min-inline-size: 20rem;
  font-family: var(--base-font-family), sans-serif;
  color: var(--base-font-color);
}
